.hamburgerContainer{
    padding: 16px 0;
    transform: scale(0.8);
}

.hamburger{
    cursor: pointer;
    width: 35px;
    height: 4px;
    background-color: #f0ffff;
    transition: all 500ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #f0ffff;
    transition: all 500ms ease-in-out;
}

.hamburger::before{
    -webkit-transform: translateY(-11px);
    -ms-transform: translateY(-11px);
    -moz-transform: translateY(-11px);
    -o-transform: translateY(-11px);
    transform: translateY(-11px);
}

.hamburger::after{
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -moz-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
}

.hamburger.open{
    transform: translateX(-35px);
    background-color: transparent;
}

.hamburger.open::before{
    transform: rotate(45deg) translate(25px, -25px);
}

.hamburger.open::after{
    transform: rotate(-45deg) translate(25px, 25px);
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .hamburger.open::before{
        transform: rotate(45deg) translate(-50%, -50px);
    }
    
    .hamburger.open::after{
        transform: rotate(-45deg) translate(50%, 0);
    }
}}