@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

.headingContainer{
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #0b0b23;
    padding: 1rem 1.1rem;
}

.heading{
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #f0ffff;
}

